:root {
    font-family: 'Spoqa Han Sans Neo', -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
    --theme-blue: rgb(72, 97, 255);
    --theme-red: rgb(255, 107, 107);
    interpolate-size: allow-keywords;
    
    /* 공통 크기 */
    --btn-size: 35px;
    --btn-radius: 17.5px;
    --input-radius: 10px;
    --spacing: 5px;
}

::-moz-selection {
    background-color: var(--theme-blue);
    color: white; 
}

::selection {
    background-color: var(--theme-blue);
    color: white; 
}

header {
    display: flex;
    align-items: center;
    gap: 10px;

    h1 {
        margin: 2px 5px;
        font-size: 25px;
        background: linear-gradient(45deg, var(--theme-blue) 0%, rgb(32, 11, 183) 100%);
        background-clip: text;
        color: transparent;
        width: fit-content;
    }

    #notloginwarning {
        flex-grow: 1; 
        text-align: center;
        color: var(--theme-red);
    }

    button {
        left: 5px;
    }
}

/* 계정 메뉴 */
#accountmenu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    position: absolute;
    right: 10px;
    top: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    transition: all 0.3s ease;
    transform: translateY(10px);
    width: max-content;
    z-index: -1;

    &.open {
        z-index: 9999;
        opacity: 1;
        transform: translateY(0);
    }

    /* 버튼 스타일 */
    #login, #logout, #save {
        margin-top: 10px;
        padding: 5px;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        border: none;
        background-color: transparent;
        appearance: none;
        transition: all 0.3s ease;

        span {
            font-variation-settings:
                'FILL' 0,
                'wght' 400,
                'GRAD' 0,
                'opsz' 20;
        }

        &:hover {
            background-color: color-mix(in srgb, var(--theme-blue) 10%, transparent);
        }

        &:active {
            background-color: color-mix(in srgb, var(--theme-blue) 15%, transparent);
            transform: scale(0.9);
        }
    }

    /* 기본적으로 로그인 버튼 보이고, 로그아웃 버튼 안보임 */
    #login { display: flex; }
    #logout, #save {display: none;}

    &::before {
        content: '로그인되지 않음';
        font-weight: bold;
    }

    &.logined {
        /* 로그인되어 있으면 그 반대 */
        #login { display: none; }
        #logout, #save {display: flex;}

        &::before {
            content: '로그인됨';
        }
    }
}

/* 헤더/입력창 버튼 스타일 */
#addtaskbutton, #accountbutton {
    width: var(--btn-size);
    height: var(--btn-size);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--btn-radius);
    border: none;
    background-color: transparent;
    appearance: none;
    transition: all 0.3s ease;

    span {
        font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 20;
        font-size: 28px;
    }

    &:hover {
        background-color: color-mix(in srgb, var(--theme-blue) 10%, transparent);
    }

    &:active {
        background-color: color-mix(in srgb, var(--theme-blue) 15%, transparent);
        transform: scale(0.9);
    }
}

/* 입력창 행 */
.inputrow {
    display: flex;
    align-items: center;
    gap: var(--spacing);
    flex-wrap: wrap;
    font-weight: 500;
    margin-top: 15px;

    #taskinput {
        font-family: inherit;
        font-size: 20px;
        border-radius: var(--input-radius);
        padding: var(--spacing);
        transition: all 0.3s ease;
        box-sizing: border-box;
        border: 2px solid gray;
        outline: none;
        flex: 1;
        flex-basis: 0;
        font-weight: inherit;

        &:focus, &:hover {
            border-color: var(--theme-blue);
        }
    }

    #taskdue-wrap, #taskdate-wrap {
        border: 2px solid gray;
        transition: all 0.3s ease;
        border-radius: var(--input-radius);
        display: flex;
        align-items: center;
        font-weight: inherit;

        span {
            margin-left: 2px;
        }

        &.active, &:hover {
            border-color: var(--theme-blue);
        }

    }

    .taskdue-alt, .taskdate-alt {
        background-color: transparent;
        field-sizing: content;
        font-size: 20px;
        padding: var(--spacing);
        outline: none;
        font-family: inherit;
        transition: all 0.3s ease;
        border: none;
        font-weight: inherit;
    }
}

/* 구분선 */
#separator {
    width: 100%;
    height: 0;
    border: 1px solid color-mix(in srgb, var(--theme-blue) 30%, transparent);
    margin: 20px 0 10px 0;
}


/* 할일 목록 */
ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

@keyframes appeartaskitem {
    from {opacity: 0; transform: translateY(-20px);}
    to {opacity: 1; transform: translateY(0);}
}

@keyframes deletetaskitem {
    from {max-height: 100px; opacity: 1; margin-bottom: 10px}
    to {max-height: 0; opacity: 0; margin-bottom: 0}
}

.taskitem {
    font-size: 20px;
    display: flex;
    align-items: center;
    width: 100%;
    height: fit-content;
    border-radius: 10px;
    gap: var(--spacing);
    background-color: transparent;
    border: 0px solid transparent;
    height: fit-content;
    margin-bottom: 10px;
    overflow: hidden;
    animation: appeartaskitem 1s cubic-bezier(0.19, 1, 0.22, 1);

    &.deleting {
        animation: deletetaskitem 1s cubic-bezier(0.19, 1, 0.22, 1);
    }

    .taskcheckbox {
        width: var(--btn-size);
        height: var(--btn-size);
        background-image: url('images/unchecked.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 30px;
        background-color: transparent;
        border: none;
        transition: all ease 0.3s;
        cursor: pointer;

        &.completed {
            background-image: url(images/checked.svg);
        }

        &:hover {
            background-image: url(images/unchecked_hover.svg);

            &.completed {
                background-image: url(images/checked_hover.svg);
            }
        }

        &:active {
            transform: scale(0.9);
        }
    }

    .taskdata {
        max-width: 70%;
        overflow: scroll;
        scrollbar-width: none;
        .scroll-container::-webkit-scrollbar {
            display: none;
        }
        transition: all 0.3s ease;
    }

    &:has(.taskcheckbox.completed) .taskdata {
        opacity: 0.5;
    }

    .taskname {
        font-family: inherit;
        font-size: 20px;
        border-radius: var(--input-radius);
        padding: var(--spacing);
        transition: all 0.3s ease;
        field-sizing: content;
        background-color: transparent;
        border: none;
        color: black;
        opacity: 1;

        &:hover,
        &:focus {
            outline: none;
            background-color: color-mix(in srgb, var(--theme-blue) 10%, transparent);
        }
    }


    .taskdetail {
        display: flex;
        gap: var(--spacing);

        .taskdate-alt, .taskdue-alt {
            font-family: inherit;
            background-color: transparent;
            border-color: transparent;
            outline: none;
            padding: 2px;
            field-sizing: content;
        }

        .taskdatewrap, .taskduewrap {
            transition: all 0.3s ease;
            background-color: transparent;
            border-radius: 5px;
            font-size: 13px;
            display: flex;
            align-items: center;;

            &:hover, &:focus {
                background-color: color-mix(in srgb, var(--theme-blue) 10%, transparent);
            }

            &:active {
                transform: scale(0.9);
            }

            .material-symbols-rounded {
                font-variation-settings:
                'FILL' 0,
                'wght' 400,
                'GRAD' 0,
                'opsz' 20;
                font-size: 16px;
                margin-left: 2px;
            }
        }
    }

    .taskdelete {
        width: var(--btn-size);
        height: var(--btn-size);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: var(--btn-radius);
        border: none;
        background-color: transparent;
        appearance: none;
        transition: all 0.3s ease;

        span {
            color: var(--theme-red);
        }

        &:hover {
            background-color: color-mix(in srgb, var(--theme-red) 10%, transparent);
        }

        &:active {
            transform: scale(0.9);
            background-color: color-mix(in srgb, var(--theme-red) 15%, transparent);
        }
    }
}

/* warning (JS에서 생성됨) */
@keyframes warningbox {
    0% { bottom: 0px; opacity: 0 } 
    50% { bottom: 50px; opacity: 1 }
    75% { bottom: 50px; opacity: 1 }
    100% { bottom: 50px; opacity:0 }
}

.warning {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing);
    position: fixed;
    width: fit-content;
    left: calc(50% - 120px);
    bottom: 0px;
    opacity: 0;
    animation: warningbox 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    backdrop-filter: blur(5px);
}

@media (max-width: 768px){
    #taskinput {
        flex-basis: 100%;
    }
}